body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
button{
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    border:none;
    margin-top: 16px;
}
header{
    padding:0 100px;
}
.navigation{
    display: flex;
    justify-content: space-between;
   
}
.navigation-links{
    display: flex;
}
.navigation-links a, .navigation a{
    padding: 0 34px;
    text-decoration: none;
    color:#3A3A3A;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
}
.logo a{
    font-size: 24px;
}
/* -----banner style---------- */
.banner{
    padding:50px 120px;
}
.banner-container{
    display:flex;
    align-items: center;
    gap: 126px;
}
.banner-content{
    /* padding-right: 133px; */
    font-family: Poppins;
   
}
.banner-content h1{
    font-size: 54px;
    margin: 0;
    padding:0;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
}
.banner-content p{
    font-size: 16px;
    margin: 0;
    padding:0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}